	{% if page.layout == 'amp' %}
		<p>どうしてこうなるんだろう…</p>
	{% else %}
		<script type='text/javascript'>
			fortune = new Array(9);
			fortune[0] = '歪比巴卜';
			fortune[1] = '歪比歪比';
			fortune[2] = 'Keep it Simple, Stupid.';
			fortune[3] = '歪比巴卜';
			fortune[4] = 'Keep it Simple, Stupid.';
			fortune[5] = '+1s +1s +1s +1s +1s +1s +1s +1s';
			fortune[6] = '农村已经科学地长出了城市，我们在城市里面找猪…';
			fortune[7] = 'The pigs in the river, dont be ashamed of you.';
			fortune[8] = '飞机从头顶飞过，流星也划破那夜空';
			index = Math.floor(Math.random() * fortune.length);
			document.write(fortune[index]);
		</script>
		<noscript>どうしてこうなるんだろう…</noscript>
	{% endif %}
